.hero-banner {
    margin-bottom: 4rem;
}

.hero-banner__slide {
    overflow: hidden;
}

.hero-banner__slide-wrapper {
    position: relative;
}

.slide-img {
    width: 100%;
    height: auto;
}

.slide-content {
    position: relative;
    z-index: 2;
    background: var(--color-white);
    padding: 1.5rem;
    max-width: 431px;
    margin: 0 auto;
}

.slide-shape {
    display: none;
}

.slide-content-wrapper {
    position: relative;
    text-align: center;
}

.slide-content-wrapper h2 {
    font-size: 30px;
    margin-bottom: 2rem;
}

.slide-content-wrapper .btn-primary {
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .hero-banner__slide {
        height: 0;
        padding-bottom: 42.11%; /* 1900 * 800px ratio */
        position: relative;
    }

    .hero-banner__slide-wrapper {
        position: static;
    }

    .hero-banner__slide-wrapper:after {
        content: '';
        display: block;
        width: 100%;
        height: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);;
    }

    .slide-content {
        width: 431px;
        position: absolute;
        left: 50%;
        bottom: 0;
        padding: 0;
        background: transparent;
        transform: translateX(-50%);
    }

    .slide-content-wrapper {
        padding: 6.875rem 0 0;
    }

    .slide-img {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        transform: none;
    }

    .slide-shape {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        -webkit-filter: drop-shadow(0 0 15px rgba(0, 0, 0, .4));
        filter: drop-shadow(0 0 15px rgba(0, 0, 0, .4));
    }

    .slide-content-wrapper h2,
    .slide-content-wrapper p,
    .slide-content-wrapper a {
        margin-left: 2rem;
        margin-right: 2rem;
        z-index: 2;
        position: relative;
    }
}
